@charset "utf-8";

/*  ---------------------------  */
/*  ---------- RESET ----------  */
/*  ---------------------------  */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public dosection)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a, a:hover {
    text-decoration: none; 
}
strong { font-weight: bold; }
em { font-style: italic; }
*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}

/*  ---------------------------  */
/*  ----- GENERAL STYLING -----  */
/*  ---------------------------  */

html {
    height: 100%;
    line-height: 1.3;
    overflow-x: hidden;
}
body {
    position:relative;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}
h1 { font-size: 30px; font-size: 1.8em; line-height: 1.5; }
h2 { font-size: 26px; font-size: 1.6em; line-height: 1; }
h3 { font-size: 22px; font-size: 1.3em; line-height: 1.2; }
h4 { font-size: 18px; font-size: 1.1em; line-height: 1.125; }
h5 { font-size: 16px; font-size: 1em; line-height: 1.125; }
h6 { font-size: 14px; font-size: 0.8em; line-height: 1.125; }
p { font-size: 16px; font-size: 1em; line-height: 1.3; }

main {
  position: relative;
  height: 100%;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  overflow-y: hidden;
}

.btn {
    border: none;
    color: #e1e1e1;
    background: none;
    cursor: pointer;
    padding: 15px 30px;
    display: inline-block;
    margin: 15px 5px 10px 0px;
    letter-spacing: 0.5px;
    font-weight: 700;
    font-size: 1rem;
    font-size: 16px;
    outline: none;
    position: relative;
    border-radius: 8px;
}

/*  ----- NAVIGATION -----  */

nav {
  position: absolute;
  top: 5%;
  left: 3%;
  z-index: 24;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

  nav ul {
    
  }

    nav ul li {
      display: inline-block;
    }

      nav ul li a {
        font-size: 16px;
        font-size: 1em;
        width: auto;
        padding: 10px 5px 5px;
        margin: 0 5px;
        color: #ffffff;
      }

        nav ul li a:hover {
          color: #f9eC23;
          border-bottom: 1px solid #f9eC23;
        }

/*  ----- MAP -----  */

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 30%;
  left: calc(-30% + 10px);
  background: #eb1c3c;
  border-right: 10px solid #eb1c3c;
  z-index: 16;
  opacity: 0.8;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

  #map-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  #mapBackground {
    width: 100%;
  }

  #map-btn {
    position: absolute;
    top: 30%;
    right: -45px;
    width: 40px;
    height: auto;
    background: #eb1c3c;
  }

    #map-btn img {
      /*background: #eb1c3c;*/
    }

    #press {
      position: absolute;
      width: 18%;
      top: 38%;
      left: 46%;
      cursor: pointer;
    }

      /*#press:hover:before {
        background: #333;
        background: rgba(0,0,0,.8);
        border-radius: 5px;
        bottom: 48px;
        color: #000;
        content: attr(title);
        left: -15%;
        padding: 0 10px;
        position: absolute;
        z-index: 300;
        min-width: 150px;
        width: auto;
        height: auto;
        line-height: 30px;
      }

      #press:hover:after {
        border: solid;
        border-color: #111 transparent;
        border-width: 6px 6px 0 6px;
        bottom: 42px;
        content: "";
        left: 40%;
        position: absolute;
        z-index: 300;
      }*/

    #hospital {
      position: absolute;
      width: 18%;
      top: 5%;
      left: 55%;
      cursor: pointer;
    }

    #cdc {
      position: absolute;
      width: 16%;
      top: 15%;
      left: 34%;
      cursor: pointer;
    }

    #apartment {
      position: absolute;
      width: 18%;
      top: 56%;
      left: 61%;
      cursor: pointer;
    }

    #botanical {
      position: absolute;
      width: 17%;
      top: 31%;
      left: 64.5%;
      cursor: pointer;
    }

    #office {
      position: absolute;
      width: 18%;
      top: 30%;
      left: 14%;
      cursor: pointer;
    }

    #home {
      position: absolute;
      width: 16%;
      top: 52%;
      left: 36%;
      cursor: pointer;
    }

  img.visited {
    opacity: 0.5;
    cursor: default!important;
  }

  img.inactive {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
    filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
    cursor: default!important;
  }

/*  ----- NOTEBOOK -----  */

#notebook {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 30%;
  right: calc(-30% + 10px);
  background: #eb1c3c;
  border-left: 10px solid #eb1c3c;
  z-index: 16;
  opacity: 0.8;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

  #notebook > img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 90%;
  }

  /*  ---- font-family: "Loved by the King"; ----  */

  #notes {
    position: absolute;
    top: 10%;
    right: 10%;
    bottom: 10%;
    left: 10%;
    background: #fff;
    overflow: auto;
    font-family: 'Loved by the King', cursive;
  }

    #lines {
      position: absolute;
      top: 10%;
      right: 5%;
      bottom: 10%;
      left: 5%;
    }

      .line {
        display: block;
        width: 100%;
        margin: 20px auto 0 auto;
        border-bottom: 2px solid #7cb971;
      }

      .line:first-of-type {
        margin: 20px 0 27px 0;
      }

    #noteTitle {
      position: absolute;
      top: 9.5%;
      left: 5%;
    }

    #note {
      position: absolute;
      top: calc(10% + 30px);
      right: 5%;
      bottom: 10%;
      left: 5%;
      z-index: 17;
    }

      #note li {
        line-height: 22px;
        text-indent: 15px;
      }

  #notebook-btn {
    position: absolute;
    top: 30%;
    left: -45px;
    width: 40px;
    height: auto;
    background: #eb1c3c;
  }

    #notebook-btn img {
      /*background: #eb1c3c;*/
    }

/*  ----- SOCIAL -----  */

#social {
  position: absolute;
  bottom: 5%;
  left: 3%;
  z-index: 24;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

  #social:-webkit-full-screen {
    z-index: 2147483647!important;
  }

  #social ul li {
      display: inline-block;
    }

    #facebook, #twitter {
      width: 40px;
      height: 40px;
      padding: 10px 5px 5px;
      margin: 0 5px;
    }

/*  ----- HOMEPAGE -----  */

#home-bg {
  width: 100%;
  background: url('../images/valhaven.jpg') no-repeat;
  background-size: cover;
  background-position: 50%;
  position: fixed;
  z-index: 23;
}

  #title-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

    #title-btn img {
      width: 60%;
      display: block;
      margin: 0 auto;
    }

    #title-btn button { /* AKA #main-btn */
      margin: 0 auto;
      background: #f9eC23;
      color: #58595b;
      letter-spacing: 2px;
    }

#next-btn {
  text-align: center;
  display: block;
  background: yellow;
  margin: 20px auto 10px auto;
  width: 200px;
  min-width: 200px;
  background: #f9eC23;
  color: #58595b;
}

#proceed {
  position: absolute;
  z-index: 26;
  top: 50%;
  left: 50%;
  font-weight: 700;
  -webkit-transform: translate(-50%, -30%);
  -moz-transform: translate(-50%, -30%);
  -ms-transform: translate(-50%, -30%);
  -o-transform: translate(-50%, -30%);
  transform: translate(-50%, -30%);
  background: #f9eC23;
  color: #58595b;
  border: none;
  cursor: pointer;
  padding: 15px 30px;
  letter-spacing: 0.5px;
  font-weight: 700;
  font-size: 1rem;
  font-size: 16px;
  outline: none;
  border-radius: 8px;
}

#disclaimer {
  color: #fff;
  position: absolute;
  width: 60%;
  max-width: 600px;
  bottom: 5%;
  left: 50%;
  text-align: center;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

/*  ----- CREDIT -----  */

#inner-container {
  color: #ffffff;
  padding-top: 8%;
  margin: 0 auto;
  width: 60%;
  max-width: 800px;
  min-width: 100px;
}

/*  ----- VIDEO CONTROLS -----  */

#video-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

  #video-container video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    /*background: url('../images/valhaven.jpg') no-repeat;*/
    background: #000;
    background-size: cover;
    background-attachment: fixed;
  }

  #video-container video::-webkit-media-controls, #video-container video::-webkit-media-controls-enclosure {
    display: none !important;
  }

  #play-pause-container {
    position: absolute;
    top: 50%;
    left: 50%;
    /*min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;*/
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    z-index: 10;
  }

  #inner-preload, #inner-preload-icon {
    position: absolute;
    top: 40%;
    left: 50%;
    min-width: 200px;
    min-height: 50px;
    width: 30%;
    height: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    z-index: 25;
  }

  #inner-preload-icon {
    top: 50%;
    display: flex;
    display: -webkit-flex;
    -webkit-justify-content: center;
    justify-content: center;
  }

  .preloader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #eb1c3c;
    z-index: 25;
  }

    #percent-loaded {
      text-align: center;
      display: none;
    }

    #preloader-bar {
      position: absolute;
      z-index: 15;
      height: 13px;
      background-color: #f9eC23;
      left: 0;
      bottom: 0;
      width: 0;
      max-width: 100%;
      display: none;
      -webkit-transition-duration: 0.3s;
      -moz-transition-duration: 0.3s;
      -ms-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s;
    }

  .preloaded {
    display: none;
  }

    #play-pause {
      font-size: 2em;
      font-weight: 700;
      color: #fff;
    }

  #controls {
    position: absolute;
    bottom: 3%;
    right: 3%;
    transition-duration: 0.3s;
    z-index: 15;
  }

    /*#controls:-webkit-full-screen {
      z-index: 2147483647!important;
    }*/

    #volume {
      
    }

    #volume-bar {

    }

    #full-screen {

    }

    #info {

    }

  #progress-container {
    position: absolute;
    right: 0px;
    left: 0px;
    bottom: -2px;
    transition-duration: 0.3s;
    z-index: 9;
  }

    #progress-container:-webkit-full-screen, #progress-container:full-screen {
      z-index: 2147483647!important;
    }

    #indicator{
      position: absolute;
      z-index: 11;
      bottom: -2px;
      left: 0px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #f9eC23;
      box-shadow: -1px 1px 6px #505050;
    }

    #time {
      position: absolute;
      display: none;
      z-index: 16;
      bottom: 22px;
      left: 0;
      background: #000;
      color: #fff;
      padding: 5px 10px;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      cursor: default;
    }

      #time:after {
        border: solid;
        border-color: #000 transparent;
        border-width: 6px 6px 0 6px;
        bottom: -6px;
        content: "";
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        position: absolute;
        z-index: 3;
      }

    #progress-bar {
      width: 100%;
      position: relative;
      z-index: 10;
      border: 0;
      height: 12px;
    }

    #progress-bar:-webkit-full-screen {
      z-index: 2147483647!important;
    }

    #progress-bar::-webkit-progress-bar {
      background: none;
    }
    #progress-bar::-webkit-progress-value {
      background: #f9eC23;
    }
    #progress-bar::-moz-progress-bar {
        background: #f9eC23;
    }

    #buffered-amount {
      position: absolute;
      z-index: 9;
      height: 13px;
      background-color: rgba(95,95,95,.5);
      left: 0;
      bottom: 0;
      width: 0;
      -webkit-transition-duration: 0.3s;
      -moz-transition-duration: 0.3s;
      -ms-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s;
    }


  #next {
    position: absolute;
    right: 3%;
    top: 20%;
    z-index: 10;
    transition-duration: 0.3s;
  }

  #prev {
    position: absolute;
    left: 3%;
    top: 20%;
    z-index: 10;
    transition-duration: 0.3s;
  }


/*  ----- MODAL -----  */

#modal {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: #ffffff;
  z-index: 20;
  width: 100%;
}

  .semi-dark {
    background: rgba(55,55,55,0.6);
  }

  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 640px;
    min-width: 200px;
    height: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    color: #fff;
  }

    .red-bg {
      background: #eb1c3c;
      padding: 5%;
    }

    .modal-close {
      border: none;
      outline: none;
      position: absolute;
      top: 0;
      right: 0;
      color: #fff;
    }

.off {
  display: none;
}

/* ---- MODAL ONE - IPAD APP ---- */


#newsapp {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50.4%) translateY(-50.9%);
  -moz-transform: translateX(-50.4%) translateY(-50.9%);
  -ms-transform: translateX(-50.4%) translateY(-50.9%);
  transform: translateX(-50.4%) translateY(-50.9%);
  background: #202020;
  overflow: hidden;
}

#tablet-bar {
  height: 5%;
  width: 100%;
  background: #1a1a1a;
  position: relative;
}

  #tablet-bar p {
    padding-top: .5%;
    margin-left: 3%;
  }

  #tablet-bar img {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
  }

#app-header {
  position: relative;
  height: 10%;
  width: 100%;
  background: #000;
}

#news-container {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

  .nextPrev {
    position: absolute;
    top: 15%;
    bottom: 0;
    width: 8%;
    height: 85%;
    padding: 0 2%;
    background: rgba(200, 200, 200, 0.3);
    cursor: pointer;
  }

    .nextPrev img {
      width: 80%;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translateX(-50%) translateY(-50%);
      -moz-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
    }

  .tabNext {
    right: 0;
  }

  .tabPrev {
    left: 0;
  }

  .hide {
    display: none;
  }

  .page {
    float: left;
    padding: 6% 3% 0 3%;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 50%;
    height: 85%;
    -webkit-align-content: stretch;
    align-content: stretch;
    position: relative;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }

.article {
  width: 32.5%;
  cursor: pointer;
  position: relative;
}

.article-next {
  width: 31%;
  position: relative;
}

.article-next a {
  position: absolute;
  top: 35%;
  left: 50%;
  width: 100%;
  height: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

  .article img {
    width: 100%;
  }

  .article h1 {
    padding: 8px;
    font-size: 20px;
    font-weight: bold;
    margin-top: -5px;
    background-color: #323132;
    color: #fff;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    margin-bottom: 5%;
  }

#articles {
  width: 100%;
}

  .article-bg {
    position: absolute;
    top: 15%;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 30;
    background: rgba(0, 0, 0, 0.5);
  }

    .inner-article {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 15%;
      left: 0;
      color: #000;
      background: #000;
      overflow-y: auto;
      display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
      display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
      display: -ms-flexbox;      /* TWEENER - IE 10 */
      display: -webkit-flex;     /* NEW - Chrome */
      display: flex;
      -webkit-align-content: column;
      align-content: column;
      padding-bottom: 2%;
      overflow: auto;
    }

      .inner-article > img {
        position: absolute;
        top: 0;
        width: 100%;
      }

      .inner-article video {
        position: absolute;
        top: 5%;
        right: 3%;
        bottom: 20%;
        left: 3%;
        top: 50%;
        left: 50%;
        min-width: auto;
        min-height: 100%;
        width: auto;
        height: 100%;
        -webkit-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        /*background: url('../images/valhaven.jpg') no-repeat;*/
        background: #000;
        background-size: cover;
        background-attachment: fixed;
      }

      .left-art {
        width: 30%;
        padding: 2%;
      }

        .left-art > img {
          width: 100%;
        }

      .right-art {
        width: 70%;
        padding: 2%;
      }

        .right-art h1 {
          padding: 3px 0 10px 0;
        }

        .right-art p {
          padding: 1% 2% 2% 0;
        }

    .close-article {
      background: none;
      outline: none;
      border: none;
      position: absolute;
      left: 0;
      right: 0;
      text-align: center;
      bottom: 0;
      top: 85%;
      width: 100%;
      font-size: 20px;
      background: #636363;
      padding: 0 45px;
      color: #fff;
    }

#bg-ch_0 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  z-index: -1;
}

/* ---- MODAL TWO - ACCEPT STORY ---- */

#instructions-1 {
  width: auto;
  max-width: 85%;
  margin: 0 auto;
}

  #instructions-1 p {
    padding: 10px;
  }

/* ---- MODAL - PRESS ---- */

#questions {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 20%;
  left: 0;
}

  #questions li {
    border-radius: 10px;
    padding: 10px;
    background: #505050;
    color: #fff;
    width: 25%;
    min-width: 200px;
    position: absolute;
    cursor: pointer;
  }

  #qu1 {
    top: 20%;
    left: 10%;
  }

  #qu2 {
    top: 45%;
    left: 10%;
  }

  #qu3 {
    top: 20%;
    right: 10%;
  }

  #qu4 {
    top: 45%;
    right: 10%;
  }

  #qu5 {
    top: 70%;
    right: 10%;
  }

#quNum {
  position: absolute;
  top: 85%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: auto;
  padding: 10px 40px;
  background: #fff;
  color: #505050;
  text-align: center;
}

/* ---- Animations ---- */

#preloader-icon,
  #preloader-icon:before,
  #preloader-icon:after {
    background: #fff;
    -webkit-animation: load1 .75s infinite ease-in-out;
    animation: load1 .75s infinite ease-in-out;
    width: 1em;
    height: 4em;
  }
  #preloader-icon:before,
  #preloader-icon:after {
    position: absolute;
    top: 0;
    content: '';
  }
  #preloader-icon:before {
    left: -1.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  #preloader-icon {
    text-indent: -9999em;
    position: relative;
    font-size: 11px;
    margin-top: 25%;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
    z-index: 20;
  }
  #preloader-icon:after {
    left: 1.5em;
  }
  @-webkit-keyframes load1 {
    0%,
    80%,
    100% {
      box-shadow: 0 0 #fff;
      height: 4em;
    }
    30% {
      box-shadow: 0 -1.25em #fff;
      height: 4.75em;
    }
  }
  @keyframes load1 {
    0%,
    80%,
    100% {
      box-shadow: 0 0 #fff;
      height: 4em;
    }
    30% {
      box-shadow: 0 -1.25em #fff;
      height: 4.75em;
    }
  }

#fade {
    -webkit-animation: fadeIn .8s  ease-in 0s 1 forwards;
    animation: fadeIn .8s  ease-in 0s 1 forwards;
}

@-webkit-keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

video:-webkit-full-screen {
  
}