@charset "utf-8";

/*  ---------------------------  */
/*  ---------- RESET ----------  */
/*  ---------------------------  */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public dosection)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a, a:hover {
    text-decoration: none; 
}
strong { font-weight: bold; }
em { font-style: italic; }
*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/*  ---------------------------  */
/*  ----- GENERAL STYLING -----  */
/*  ---------------------------  */

html {
    height: 100%;
    line-height: 1.3;
    overflow-x: hidden;
}
body {
    height: 100%;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}
h1 { font-size: 30px; font-size: 1.8em; line-height: 1.5; }
h2 { font-size: 26px; font-size: 1.6em; line-height: 1; }
h3 { font-size: 22px; font-size: 1.3em; line-height: 1.2; }
h4 { font-size: 18px; font-size: 1.1em; line-height: 1.125; }
h5 { font-size: 16px; font-size: 1em; line-height: 1.125; }
h6 { font-size: 14px; font-size: 0.8em; line-height: 1.125; }
p { font-size: 16px; font-size: 1em; line-height: 1.3; }

main {
  height: 100%;
}

#video-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#video-container video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url('../images/valhaven.jpg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
}



/* ---- Animations ---- */

#fade {
    -webkit-animation: fadeIn .8s  ease-in 0s 1 forwards;
    animation: fadeIn .8s  ease-in 0s 1 forwards;
}

@-webkit-keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}