@charset "utf-8";

/*  ---------------------------  */
/*  ---------- RESET ----------  */
/*  ---------------------------  */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public dosection)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a, a:hover {
    text-decoration: none; 
}
strong { font-weight: bold; }
em { font-style: italic; }
*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}

/*  ---------------------------  */
/*  ----- GENERAL STYLING -----  */
/*  ---------------------------  */

html {
    height: 100%;
    line-height: 1.3;
    overflow-x: hidden;
}
body {
    position:relative;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}
h1 { font-size: 30px; font-size: 1.8em; line-height: 1.5; }
h2 { font-size: 26px; font-size: 1.6em; line-height: 1; }
h3 { font-size: 22px; font-size: 1.3em; line-height: 1.2; }
h4 { font-size: 18px; font-size: 1.1em; line-height: 1.125; }
h5 { font-size: 16px; font-size: 1em; line-height: 1.125; }
h6 { font-size: 14px; font-size: 0.8em; line-height: 1.125; }
p { font-size: 16px; font-size: 1em; line-height: 1.3; }

main {
  position: relative;
  height: 100%;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.btn {
    border: none;
    color: #e1e1e1;
    background: none;
    cursor: pointer;
    padding: 15px 30px;
    display: inline-block;
    margin: 15px 5px 10px 0px;
    letter-spacing: 0.5px;
    font-weight: 700;
    font-size: 1rem;
    font-size: 16px;
    outline: none;
    position: relative;
    border-radius: 8px;
    float: left;
}

/*  ----- NAVIGATION -----  */

nav {
  position: absolute;
  top: 5%;
  left: 3%;
  z-index: 21;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

  nav ul {
    
  }

    nav ul li {
      display: inline-block;
    }

      nav ul li a {
        font-size: 16px;
        font-size: 1em;
        width: auto;
        padding: 10px 5px 5px;
        margin: 0 5px;
        color: #ffffff;
      }

        nav ul li a:hover {
          color: #f9eC23;
          border-bottom: 1px solid #f9eC23;
        }

/*  ----- MAP -----  */

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 30%;
  left: calc(-30% + 10px);
  background: #eb1c3c;
  border-right: 10px solid #eb1c3c;
  z-index: 16;
  opacity: 0.8;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

  #map > img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 90%;
  }

  #map-btn {
    position: absolute;
    top: 30%;
    right: -45px;
    width: 40px;
    height: auto;
    background: #eb1c3c;
  }

    #map-btn img {
      /*background: #eb1c3c;*/
    }

/*  ----- NOTEBOOK -----  */

#notebook {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 30%;
  right: calc(-30% + 10px);
  background: #eb1c3c;
  border-left: 10px solid #eb1c3c;
  z-index: 16;
  opacity: 0.8;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

  #notebook > img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 90%;
  }

  #notebook-btn {
    position: absolute;
    top: 30%;
    left: -45px;
    width: 40px;
    height: auto;
    background: #eb1c3c;
  }

    #notebook-btn img {
      /*background: #eb1c3c;*/
    }

/*  ----- SOCIAL -----  */

#social {
  position: absolute;
  bottom: 5%;
  left: 3%;
  z-index: 15;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

  #social:-webkit-full-screen {
    z-index: 2147483647!important;
  }

  #social ul li {
      display: inline-block;
    }

    #facebook, #twitter {
      width: 40px;
      height: 40px;
      padding: 10px 5px 5px;
      margin: 0 5px;
    }

/*  ----- HOMEPAGE -----  */

#home-bg {
  width: 100%;
  background: url('../images/valhaven.jpg') no-repeat;
  background-size: cover;
  background-position: 50%;
  position: fixed;
  z-index: 13;
}

#home-btn {
  position: absolute;
  z-index: 16;
  bottom: 30%;
  left: 50%;
  font-weight: 700;
  -webkit-transform: translate(-50%, 50%);
  -moz-transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%);
  -o-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
  background: #f9eC23;
  color: #58595b;
}

#proceed {
  position: absolute;
  z-index: 26;
  top: 50%;
  left: 50%;
  font-weight: 700;
  -webkit-transform: translate(-50%, -30%);
  -moz-transform: translate(-50%, -30%);
  -ms-transform: translate(-50%, -30%);
  -o-transform: translate(-50%, -30%);
  transform: translate(-50%, -30%);
  background: #f9eC23;
  color: #58595b;
  border: none;
  cursor: pointer;
  padding: 15px 30px;
  letter-spacing: 0.5px;
  font-weight: 700;
  font-size: 1rem;
  font-size: 16px;
  outline: none;
  border-radius: 8px;
}

#disclaimer {
  color: #fff;
  position: absolute;
  width: 60%;
  max-width: 600px;
  bottom: 5%;
  left: 50%;
  text-align: center;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

/*  ----- CREDIT -----  */

#inner-container {
  color: #ffffff;
  padding-top: 8%;
  margin: 0 auto;
  width: 60%;
  max-width: 800px;
  min-width: 100px;
}

/*  ----- VIDEO CONTROLS -----  */

#video-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

  #video-container video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    /*background: url('../images/valhaven.jpg') no-repeat;*/
    background: #000;
    background-size: cover;
    background-attachment: fixed;
  }

  #video-container video::-webkit-media-controls, video::-webkit-media-controls-enclosure {
    display: none !important;
  }

  #play-pause-container {
    position: absolute;
    top: 50%;
    left: 50%;
    /*min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;*/
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    z-index: 10;
  }

  #inner-preload, #inner-preload-icon {
    position: absolute;
    top: 40%;
    left: 50%;
    min-width: 200px;
    min-height: 50px;
    width: 30%;
    height: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    z-index: 25;
  }

  #inner-preload-icon {
    top: 50%;
    display: flex;
    display: -webkit-flex;
    -webkit-justify-content: center;
    justify-content: center;
  }

  .preloader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #eb1c3c;
    z-index: 25;
  }

    #percent-loaded {
      text-align: center;
      display: none;
    }

    #preloader-bar {
      position: absolute;
      z-index: 15;
      height: 13px;
      background-color: #f9eC23;
      left: 0;
      bottom: 0;
      width: 0;
      max-width: 100%;
      display: none;
      -webkit-transition-duration: 0.3s;
      -moz-transition-duration: 0.3s;
      -ms-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s;
    }

  .preloaded {
    display: none;
  }

    #play-pause {
      font-size: 2em;
      font-weight: 700;
      color: #fff;
    }

  #controls {
    position: absolute;
    bottom: 3%;
    right: 3%;
    transition-duration: 0.3s;
    z-index: 15;
  }

    /*#controls:-webkit-full-screen {
      z-index: 2147483647!important;
    }*/

    #volume {
      
    }

    #volume-bar {

    }

    #full-screen {

    }

    #info {

    }

  #progress-container {
    position: absolute;
    right: 0px;
    left: 0px;
    bottom: -2px;
    transition-duration: 0.3s;
    z-index: 9;
  }

    #progress-container:-webkit-full-screen, #progress-container:full-screen {
      z-index: 2147483647!important;
    }

    #indicator{
      position: absolute;
      z-index: 11;
      bottom: -2px;
      left: 0px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #f9eC23;
      box-shadow: -1px 1px 6px #505050;
    }

    #time {
      position: absolute;
      display: none;
      z-index: 16;
      bottom: 22px;
      left: 0;
      background: #000;
      color: #fff;
      padding: 5px 10px;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
    }

      #time:after {
        border: solid;
        border-color: #000 transparent;
        border-width: 6px 6px 0 6px;
        bottom: -6px;
        content: "";
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        position: absolute;
        z-index: 3;
      }

    #progress-bar {
      width: 100%;
      position: relative;
      z-index: 10;
      border: 0;
      height: 12px;
    }

    #progress-bar:-webkit-full-screen {
      z-index: 2147483647!important;
    }

    #progress-bar::-webkit-progress-bar {
      background: none;
    }
    #progress-bar::-webkit-progress-value {
      background: #f9eC23;
    }
    #progress-bar::-moz-progress-bar {
        background: #f9eC23;
    }

    #buffered-amount {
      position: absolute;
      z-index: 9;
      height: 13px;
      background-color: rgba(95,95,95,.5);
      left: 0;
      bottom: 0;
      width: 0;
      -webkit-transition-duration: 0.3s;
      -moz-transition-duration: 0.3s;
      -ms-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s;
    }


  #next {
    position: absolute;
    right: 3%;
    top: 20%;
    z-index: 10;
    transition-duration: 0.3s;
  }

  #prev {
    position: absolute;
    left: 3%;
    top: 20%;
    z-index: 10;
    transition-duration: 0.3s;
  }


/*  ----- MODAL -----  */

#modal {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: #ffffff;
  z-index: 20;
  width: 100%;
}

  .semi-dark {
    background: rgba(55,55,55,0.6);
  }

  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 640px;
    min-width: 200px;
    height: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    color: #fff;
  }

    .red-bg {
      background: #eb1c3c;
    }

    .modal-close {
      border: none;
      outline: none;
      position: absolute;
      top: 0;
      right: 0;
      color: #fff;
    }

.off {
  display: none;
}

/* ---- MODAL TWO - IPAD APP ---- */

#ipad {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  height: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

  #ipad > img {
    width: 100%;
  }

  #newsapp {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50.8%) translateY(-50.5%);
    -moz-transform: translateX(-50.8%) translateY(-50.5%);
    -ms-transform: translateX(-50.8%) translateY(-50.5%);
    transform: translateX(-50.8%) translateY(-50.5%);
    background: #252525;
  }

  #tablet-bar {
    height: 5%;
    width: 100%;
    background: #000;
    position: relative;
  }

    #tablet-bar img {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
    }

  #news-container {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    align-content: stretch;
    position: relative;
  }

  .article {
    width: 33%;
  }

  #articles {
    width: 100%;
  }

    .article-content {
      position: absolute;
      top: 5%;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 30;
      color: #000;
      background: #fff;
    }

      .close-article {
        background: none;
        outline: none;
        border: none;
        position: absolute;
        top: 0;
        right: 0;
      }


/* ---- Animations ---- */

#preloader-icon,
  #preloader-icon:before,
  #preloader-icon:after {
    background: #fff;
    -webkit-animation: load1 .75s infinite ease-in-out;
    animation: load1 .75s infinite ease-in-out;
    width: 1em;
    height: 4em;
  }
  #preloader-icon:before,
  #preloader-icon:after {
    position: absolute;
    top: 0;
    content: '';
  }
  #preloader-icon:before {
    left: -1.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  #preloader-icon {
    text-indent: -9999em;
    position: relative;
    font-size: 11px;
    margin-top: 25%;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
    z-index: 20;
  }
  #preloader-icon:after {
    left: 1.5em;
  }
  @-webkit-keyframes load1 {
    0%,
    80%,
    100% {
      box-shadow: 0 0 #fff;
      height: 4em;
    }
    30% {
      box-shadow: 0 -1.25em #fff;
      height: 4.75em;
    }
  }
  @keyframes load1 {
    0%,
    80%,
    100% {
      box-shadow: 0 0 #fff;
      height: 4em;
    }
    30% {
      box-shadow: 0 -1.25em #fff;
      height: 4.75em;
    }
  }

#fade {
    -webkit-animation: fadeIn .8s  ease-in 0s 1 forwards;
    animation: fadeIn .8s  ease-in 0s 1 forwards;
}

@-webkit-keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

video:-webkit-full-screen {
  
}